<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      
     body {
            font-family: Arial, Helvetica, sans-serif;
         }
      h1 {
        text-align: center;
      }
      div {
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color: #a0d2eb">
    <h1>Panini Pande(1002064144)</h1>
    <div>
      <form method="POST" action="/FindPerson_deets" style="font-weight: bold">
        Enter the place:<input type="text" name="place" />
        <input
          style="
            margin-left: 10px;
            font-weight: bold;
            border-radius: 5px;
            background-color: #8458b3;
            color: #fff;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s, opacity 0.3s;
          "
          type="submit"
          name="Update"
        />
      </form>
    </div>
  </body>
</html>
